<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424040780172-q3jm9kk7ba3v48n3cn4qgvgvmcdi0bda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424040780172-q3jm9kk7ba3v48n3cn4qgvgvmcdi0bda</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>424040780172-lo5fmk8rrrl847fj5p170abv2tu7dddh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXh7mGMe166CfGxMDOip8nHPE4AWtI4mU</string>
	<key>GCM_SENDER_ID</key>
	<string>424040780172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fashtion</string>
	<key>PROJECT_ID</key>
	<string>new-one-99bf7</string>
	<key>STORAGE_BUCKET</key>
	<string>new-one-99bf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424040780172:ios:33c97225b7c152bcbfc6a9</string>
</dict>
</plist>